/* Basscss Color Base */

body {
  color: $dark-gray;
  background: rgb(255,249,189);
  background: linear-gradient(90deg, rgba(255,249,189,1) 0%, rgba(223,242,225,1) 33%, rgba(207,249,255,1) 67%, rgba(250,216,255,1) 100%);
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: $lighter-gray;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}
